@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font */
* {
  font-family: "Outfit", sans-serif;
}

/* Hide scrollbar (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
* {
  scrollbar-width: none;
}

.reset-tw :not(pre):not(code) {
  all: revert;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}
